<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         bootstrap="tests/bootstrap.php"
         >
    <testsuites>
        <testsuite name="Nickvergessen Trim Message Test Suite">
            <directory suffix="Test.php">./src/Nickvergessen/TrimMessage/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
